<div class="row text-center">
  <div class="col-md">
    <h2>Welcome to the Recipe Book</h2>
  </div>
</div>
<div class="row text-center">
  <div class="col-md">
    <h3>Here a summary of the application functionality.</h3>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <ul>
      <li>This application will load a default set of recipes every time it is opened.</li>
      <li>You my view the <b>Recipes</b> and the <b>Shopping&nbsp;List</b> without logging in.</li>
      <li>Use the <b>Recipes</b> menu option to see your list of recipes.</li>
      <li>Use the <b>Shopping&nbsp;List</b> menu option to see your list of ingredients with quantities.</li>
      <li>To <b>Save</b> and <b>Retrieve</b> the list of recipes from the server you must login.</li>
      <li>(Please take note: All users access the same instance of the data on the server. In other words, there is only one copy for all users.)</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <ul>
      <li><b>Recipes</b> options:</li>
        <ol>
          <li>Select the recipe to see its details.</li>
          <li>Add a <b>new recipe</b>.</li>
          <li><b>Manage Recipe</b>.<br>options:
              <ol type="a">
                <li>Send the ingredients of the recipe to the shopping list.</li>
                <li>Edit the recipe. Change its details including the ingredients. Be sure to hit the save button when you’re done.</li>
                <li>Delete the recipe.</li>
              </ol>
          </li>
        </ol>
        <br>
      <li><b>Shopping&nbsp;List</b> options:</li>
        <ol>
          <li>Add a new ingredient by entering its name and amount then selecting add.</li>
          <li>Edit an ingredient by selecting it first.  Then make your changes.</li>
        </ol>
      <br>
      <li><u>MEMBERSHIP</u> options:</li>
        <ol>
          <li><b>Register</b><br>Select the Register menu option to setup an account. Enter an e-mail and password. (The email can be fake but must be in the proper format.)</li>
          <li><b>Login</b><br>Select login menu option to login. Enter an e-mail and password. (If you do not want to register use the default account. E-mail: test1@test.com Password: test01 )</li>
          <li><b>Logout</b><br>Logout of the server.</li>
          <li><b>Manage Data</b><br>options:
            <ol type="a">
              <li><b>Save data</b><br>
                Select Save Data to save your recipes list to the serve overwriting what is currently saved.
              </li>
              <li><b>Fetch Data</b><br>
                Select Fetch Data to retrieve your recipes list from the serve and replace the list in the application.
              </li>
            </ol>
          </li>
        </ol>
    </ul>
  </div>
</div>
