<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h2 class="text-center">Resister</h2>
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email" ngModel class="form-control" required email minlength="6" #email="ngModel">
        <span class="help-block" *ngIf="!email.valid && email.touched" >
          Please enter a valid e-mail with minimum length of 6!
        </span>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control" required minlength="6" #password="ngModel">
        <span class="help-block" *ngIf="!password.valid && password.touched" >
          Please enter a valid password with minimum length of 6.
        </span>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign Up</button>
    </form>
    <br>
    <P [innerText]="signupErrorMessage"></P>
  </div>
</div>


